div{
    width:250px;
    height: 250px;
    text-align:center; 
}

p{
     padding: 60% 0 ; 
    color: white;
    font-size:30px;  
}

.square-1{
    background-color: #4885ed;
    position:absolute ;
    bottom:75px;
    left:100px;
    z-index: 1;
}

.square-2{
    background-color: #db3236;
    position:absolute ;
    bottom:150px;
    left:150px;
    z-index: 2;
}

.square-3{
    background-color: #f4c20d;
    position:absolute ;
    bottom:250px;
    left:200px;
    z-index: 3;
}

.square-4{
    background-color: #7ed321;
    position:absolute ; 
    bottom:325px;
    left:250px;
    z-index: 4;
}

