@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 0px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
    text-align: center;
}

.socialbtns .fa {
	width: 40px;
    height: 40px;
	color: #000;
    color: red;
	background-color: transparent;
	border: 1px solid white;
	padding-top: 12px;
	border-radius: 90%;	
    text-decoration:none;
}

.socialbtns .fa:hover {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}
