:root {
    --White: White;
    --buttoncolor: #cf1d16;
    --background-color: #f8f9fa;
}




footer{
    padding-left: 165px;
}

.backGroundBlack {
    background-color: rgb(50, 50, 50);
    color:var(--White);  
}

.paddingFooter {
    padding-top: 80px;
    padding-bottom: 40px;
}

.aRed {
    color: var(--buttoncolor);
    text-decoration: none;
    
}

.paddingCopyRight{
    padding-top: 80px;  
}

.textColorFooter{
    color: grey;
    font-size: 18px;
}


.aRed:hover {
    color: var(--White);
}

.aRed::after {
    content: "\a";
    white-space: pre;

}

.infoHeaderText{
    color: grey;
}

.infoText
{
    color: var(--White);
}